exclude .editorconfig
exclude .gitignore
exclude .gitmodules
exclude CODEOWNERS
exclude noxfile.py
exclude src/conftest.py
recursive-exclude .github *
recursive-exclude pytests *
recursive-include py *.pyi
recursive-include submodules/api-common-protos/google *.proto
recursive-include submodules/frequenz-api-common/proto/frequenz *.proto
